<!DOCTYPE html>
<html>
<head>
	<title>administration page</title>
	<script>
	
    function myFunction()
    {
    	var login = "<%= login %>";
    	var passw = "<%= passw %>";
    	var userName=prompt("Username","");
    	var passWord=prompt("Password",""); 
	    if(userName == login && passWord == passw)
	    {
	    	console.log('yes');
	    	window.location.replace('/dictateur');
	    }
	    else
	    {
	    	console.log("non");
	    	window.location.replace('/end');
	    }
    }
	</script>
</head>
<body onload="myFunction()">
	
</body>
</html>