<!DOCTYPE html>
<html>
<head>
    <title>SpaceCoopHTML5 prototype</title>
    <link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
    <script src="/public/js/libs/easeljs-0.7.1.min.js"></script>
    <script src="/public/js/game/main.js">    </script>
    <script src="/public/js/libs/socket.io.min.js"></script>
</head>
<body onLoad="init('testXP','toto')">
    <canvas id="demoCanvas" width="1000" height="800">
        alternate content
    </canvas>
</body>
</html>