<!DOCTYPE html>
<head>
</head>
<body>
<div class="centerDiv">
	<p>Thank you! The game is now over.</p>

	<p>Please <a href="https://docs.google.com/forms/d/1H2iQF7708Fc6zSy9Bb9AJ9xEC9bmdHBVzhEI5RVsKIY/viewform"> click here</a> to access the form to leave your feedback about the game.</p>
</div>
</body>
