<!DOCTYPE html>
<html>
	<head>
		<title>Webpage</title>
		<link rel='stylesheet' href='/public/styles/styles.css' />
	    <link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="centerDiv">
			<div class="canvasHolder">

				<p>Please <a href="https://docs.google.com/forms/d/1nnqfi9B80cbWBzK05bnGoeeYizZAwNpb_RzvIE_4oeo/viewform"> click here</a> to leave your feedback about the game. This is a necessary condition to receive your payment.</p>
			</div>
		</div>
	</body>
</html>
