<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 Multiplayer prototype</title>
		<link rel='stylesheet' href='/public/styles/styles.css' />
	    <link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="centerDiv">
			<div class="canvasHolder">

				<p>Thank you! The game is now over.</p>

				<p>Please <a href="https://docs.google.com/forms/d/1f8SKzxgwSZ9ypVbT_-lGDhVkLSXY7Gc6-LT8VZE7vq8/viewform"> click here</a> to access the form to leave your feedback about the game.</p>
			</div>
		</div>
	</body>
</html>
