<!DOCTYPE html>
<html>
	<head>
		<title>Webpage</title>
		<link rel='stylesheet' href='/public/styles/styles.css' />
	    <link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="centerDiv">
			<div class="canvasHolder">

				<p>Thank you! The task is now over.</p>

			<p><!-- Please <a href="https://docs.google.com/forms/d/1jy4NPSc86LQ03Atw2CMzBFNaGFvxTRNpGE-KcnUoqoY/viewform"> click here</a> to access the form to leave a short feedback about the experiment. -->You can now go back to Mturk and submit your HIT.</p>
			</div>
		</div>
	</body>
</html>
