<!DOCTYPE html>
<html>
	<head>
		<title>Webpage</title>
		<link rel='stylesheet' href='/public/styles/styles.css' />
	    <link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="centerDiv">
			<div class="canvasHolder">

				<p>We have detected that you have already connected to this HIT before, or are connected in another tab. You can do this HIT only once.</p>
				<p>If you believe this is an error, please contact us on Mturk.</p>
			</div>
		</div>
	</body>
</html>
