<!DOCTYPE html>
<html>
	<head>
		<title>Webpage</title>
		<link rel='stylesheet' href='/public/styles/styles.css' />
	    <link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="centerDiv">
			<div class="canvasHolder">

				<p>We have detected that you have already done this HIT before, or are connected to this HIT in another tab. You can do this HIT only once.</p>

			</div>
		</div>
	</body>
</html>
