<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 Multiplayer prototype</title>
		<link rel='stylesheet' href='/public/styles/styles.css' />
	    <link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="centerDiv">
			<div class="canvasHolder">

				<p>Unfortunately, nobody was available to do the task at the same time as you.</p>

				<p>You can go back to Mturk and enter "nobody" in the comment field before submitting your HIT. You will receive your payment shortly.</p>
			</div>
		</div>
	</body>
</html>
