<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>

		    
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				
				<p class="bold">The goal of the game is to kill all the enemy spaceships. Press the "space" key to shoot and "left" and "right" arrow keys to move.</p>

					<img class="centered" id="screenshot" src="../public/images/screenshot3_space.jpg" />


					<p class="txtCentered"><a href="/home12"> &laquo; Back</a><a class="btn" href="/home14"> OK, got it! </a></p>
				
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
