<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>

		    
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				<br />
				   		 <p>3. If you are not selected, <span class="bold">wait patiently for the other person to make his decision.</span><br /><br /> </p>


	



					<p class="txtCentered"><a href="/home53"> &laquo; Back</a><a class="btn" href="/home56"> Next </a></p>
				
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
