<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>
		   
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				


				<p>The experiment proceeds as follows:</p>

    			<p>1/ You and the other person have been allocated 1000 points.</p>

     			<p>2/ When you click on "Start Experiment", either you or the other person will be <em>randomly</em> selected to decide how much of the 1000 points each person is to receive.<br /><br /></p>



	

					<p class="txtCentered"><a class="btn" href="/home53"> OK, got it! </a></p>
				
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
