<!DOCTYPE html>
<html>
	<head>
		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	    <header>
	        <h1>Please read carefully the following instructions!</h1>
	        
	    </header>
	    <div class="centerDiv">
	    	<div class="canvasHolder">
				<p> Thank you for testing this video game! Your feedback will greatly help us improve the game.</p>

				<p>The game is a two player game: when you click on "Enter waiting room" below, you will be on hold until another Mturker connects to play the game. It shouldn't take more than a minute or so. </p>

				<p class="bold">The goal of the game is to pop all the balloons by jumping on a seesaw. On the screenshot below, you will control one of the two aliens at the bottom. When you are not in the air, move the seesaw by pressing the "left" and "right" keys so that the other player lands on the seesaw.</p>
				
				<img class="centered" width="700px" src="../public/images/screenshot_space3.png" />

				<p class="bold">Each time you or the other player pops a balloon, the loot in the red balloon increases and is displayed in the top left corner of the screen. You will catch the red balloon last, and the player who catches it will be able to grab the loot and share it, before you can go on to the next game.</p>

				<p>When all games are over, you will be redirected to a form to leave your feedback about the game: help us improve it by leaving constructive (positive or negative) feedback!</p>
				
				<p>At the beginning of the game, you will have to enter your Mturk id - this is how we know who to pay so do not forget to fill the field. Besides, if you quit before the end of the game, we won't be able to pay you. </p>

				<p>You will be paid through Amazon in the next 48 hours according to your personal points: 100 points are worth 10 cents. On average, players earn 50 cents for two minutes of game. We automatically save your points at the end of the game.</p><br />
				
				<p class="txtCentered"><a class="btn" href="game"> Enter waiting room </a></p>
				<p></p>
			</div>

	    </div>
		

	</body>
</html>
