<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>
		   
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				
				<p>You will be randomly attributed one of two roles: player A or player B. If you are player A, the other player will be player B, and vice versa.</p>

    			<p>- If you are player A, you will receive 1000 points and you will be able to share them with player B.<br />
    			 - If you are player B, you will have to wait for player A to make his decision.</p><br />
					<p class="txtCentered"><a href="/home5"> &laquo; Back</a><a class="btn" href="/home56"> Next </a></p>
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
