<!DOCTYPE html>
<html>
	<head>
		<title>Webpage</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
		<body>
	<div>
	    <header>
	        <h1 id="selection"></h1>	        
	    </header>
	</div>
	<div id="toHide">
	    <header>
	        <h1 id="test">Thank you for taking part in this experiment!</h1>
	        
	    </header>
	    <div class="centerDiv">
	    	<div class="canvasHolder">

					<p> </p>

					<p>This experiment requires <span class="bold">two players</span>: at the beginning of the experiment, you will be on hold until another Mturker connects. It shouldn't take more than a minute or so. </p>

<p><span class="bold">You will be paid $0.25 for participating in the experiment, PLUS a bonus for all the points you earn in the experiment: 100 points are worth 10 cents.</span></p>					


<p>Your decisions will be strictly anonymous and cannot be linked to you in any way.<br /><br /></p>



			
	
				<p class="txtCentered"><a class="btn" href="/home52"> OK, got it! </a></p>
				<p></p>
			</div>

	    </div>
		</div>
		<script src="../public/js/game/check.js"></script>
	</body>
</html>
