<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>
		   
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				


				<p>The experiment will proceed as follows:<br /></p><br />

    			<p>1/ You and the other mturker doing this experiment with you <span class="bold">will be allocated 1000 points.</span></p>

     			<p>2/ At the beginning of the experiment, <span class="bold">either you or the other mturker will be <em>randomly</em> selected to decide how much of the 1000 points each person is to receive.</span><br /><br /></p>



	

					<p class="txtCentered"><a href="/home5"> &laquo; Back</a><a class="btn" href="/home53"> OK, got it! </a></p>
				
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
