<!DOCTYPE html>
<html>
	<head>
		<title>Webpage</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
		<body>
	<div>
	    <header>
	        <h1 id="selection"></h1>	        
	    </header>
	</div>
	<div id="toHide">
	    <header>

	        
	    </header>
	    <div class="centerDiv">
	    	<div class="canvasHolder">

	        <h1 id="test">Thank you for taking part in this HIT.</h1><br /><br />

					<p>This HIT requires <span class="bold">two people</span> at the same time: at the beginning of the task, you will be on hold until another Mturker connects. It shouldn't take more than a minute or so. <br /><br /><br /><span class="red bold">DO NOT try to open a second tab to do the HIT with yourself, and do this HIT only once. Failure to do so will prevent your HIT from being accepted.</span> </p><br />


					<p><span class="bold">This HIT is paid $0.5, PLUS a bonus for all the points you earn in the task: 1000 points are worth $1.</span></p><br /><br />
				<p class="txtCentered"><a class="btn" href="/home52"> I understand, next </a></p>
				<p></p>
			</div>

	    </div>
		</div>
		<script src="../public/js/game/check.js"></script>
	</body>
</html>
