<!DOCTYPE html>
<html>
	<head>
		<title>Webpage</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
		<body>
	<div>
	    <header>
	        <h1 id="selection"></h1>	        
	    </header>
	</div>
	<div id="toHide">
	    <header>
	        <h1 id="test">Please read carefully the following instructions!</h1>
	        
	    </header>
	    <div class="centerDiv">
	    	<div class="canvasHolder">
				<p> Thank you for taking part in this experiment.</p>

				<p>This experiment requires two people: when you click on "Start Experiment" below, you will be on hold until another person connects to take part in the experiment. It shouldn't take more than a minute or so. </p>

<p>Your decisions will be strictly anonymous and cannot be linked to you in any way. The only information we ask about you is your mturk id.</p>

<p>The experiment proceeds as follows:
<ul>
    <li> You and the other person have been allocated 1000 points.</li>

    <li> When you click on "Start Experiment", either you or the other person will be <em>randomly</em> selected to decide how much of the 1000 points each person is to receive.</li>

    <li> If you are selected, your decision is a simple one: decide what portion, if any, of these 1000 points to transfer to the person you are paired with. </li>

	<li> If you are not selected, wait patiently for the other person to make his decision. </li>
</ul>

<p>At the end of the experiment, your points will be converted to money (100 points are worth 10 cents) and we will add $0.25 to this amount for your participation. You will be paid through Mturk in the next 48 hours. </p>				

				<p>At the beginning of the experiment, you will have to enter your Mturk id - this is how we know who to pay so do not forget to fill the field. Besides, if you quit before the end of the experiment, we won't be able to pay you. </p>
				
				<p class="txtCentered"><a class="btn" href="game"> Start Experiment </a></p>
				<p></p>
			</div>

	    </div>
		</div>
		<script src="../public/js/game/check.js"></script>
	</body>
</html>
