<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>

		    
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				

					<p class="bold">The player who catches the red balloon at the end will be able to share the points, and then both players will go on to the next game.</p>

					<img class="centered" id="screenshot" src="../public/images/screenshot5_rab.jpg" />

					<p class="txtCentered"><a href="/home34"> &laquo; Back</a><a class="btn" href="/home36"> Next </a></p>
				
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
