<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 Multiplayer prototype</title>
		<link rel='stylesheet' href='/public/styles/styles.css' />
		<link href="/public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	    <header>
	        <h1>Welcome</h1>
	        
	    </header>
	    <div class="centerDiv">
	    	<div class="canvasHolder">
				<p> Thank you for testing this video game! Your feedback will greatly help us improve the game.</p>

				<p>The game is a two-player game: when you click on "Continue" below, you will be on hold until another Mturker connects to play the game. It shouldn't take more than a minute or so. </p>

				<p>The goal of the game is to kill all the spaceships by pressing the "space" key to shoot and "left" and "right" keys to move.</p>

				<p>Each time you shoot a spaceship, the loot in the mothership increases and is displayed in the top left corner of the screen. When you kill the mothership, it falls and the player closer to it will be able to grab the loot and share it, before both players go on to the next game.</p>

				<p>After 2 repetitions of the game, you will be able to enter your Mturk id - this is how we know who to pay so do not forget to fill the field!</p>

				<p>Finally, you will be redirected to a form to leave your feedback about the game: help us improve it by leaving constructive (positive or negative) feedback!</p>

				<p>You will be paid through Amazon in the next 24 hours according to your personal loot: 100 points are worth 10 cents. On average, players earn 50 cents for two minutes of game. We automatically save your personal loot at the end of the game.</p>

				<a href="game"> Continue </a>
   			</div>
	    </div>
	</body>
</html>
