<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>

		    
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				
				<p class="bold">The goal of the game is to pop all the balloons by jumping on the seesaw. When you are on the seesaw, move it by pressing the left and right arrow keys so that the other player lands on it.</p>

					<img class="centered" id="screenshot" src="../public/images/screenshot3_rab.png" />


					<p class="txtCentered"><a class="btn" href="/home34"> OK, got it! </a></p>
				
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
