<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>
		   
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				
				<p>You will be randomly attributed one of two roles: Role A or Role B. <br /><br /><br />If you play Role A, the other mTurker will play Role B, and vice versa.</p><br /><br />

    			<p>- <span class="bold">If you play Role A,</span> you will receive 1000 points and you will have to indicate how you want to share them with the mTurker playing Role B.<br /><br /><br />
    			 - <span class="bold">If you play Role B,</span> you will have to wait for the mTurker playing Role A to make the decision, and then you will find out how many points you get.</p><br /><br />
					<p class="txtCentered"><a href="/home5"> &laquo; Back</a><a class="btn" href="/home56"> Next </a></p>
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
