<!DOCTYPE html>
<html>
	<head>


	</head>

		<title>Video Game Test</title>
		<link rel='stylesheet' href='../public/styles/styles.css' />
		<link href="../public/styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div>
		<header>
		    <h1 id="selection"></h1>	        
		</header>
	</div>
	<div id="toHide">
		<header>
		   
		</header>
		<div class="centerDiv">
			<div class="canvasHolder">
				
				<p>You will be randomly attributed one of two roles: role A or role B. <br /><br />If you play role A, the other person will play role B, and vice versa.<br /><br /></p>

    			<p>- <span class="bold">If you play role A,</span> you will receive 1000 points and you will have to decide how many points to give to player B.<br /><br />
    			 - <span class="bold">If you play role B,</span> you will have to wait for player A's decision to know how many points you get.</p>
					<p class="txtCentered"><a href="/home5"> &laquo; Back</a><a class="btn" href="/home56"> Next </a></p>
		
   			</div>
			
	</div>

	</div>

	<script src="../public/js/game/check.js"></script>

	</body>
</html>
