footer {
	text-align: center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.bold {
	font-weight: bold;
}

.txtCentered {
    
    text-align: center; }

header {
	position: relative;
}

h1{
	text-align: center;
	font-family: "Open Sans", "Inconsolata", "Georgia";
}
h3{
	text-align: center;
	font-family: "Inconsolata", "Georgia";
	margin:5px;
}
p{
    
	
	font-family: "Inconsolata", "Georgia";	
	margin: 20px;
}

#notFilled {
	color: white;
}

#screenshot {
	width:640px;
}
.centerDiv {
	
	margin-left: auto;
	margin-right: auto;
	width:840px;
}
.playerHolder {
	display: inline;
	height: 220px;
	width: 840px;
}
.infoHolder {
	display:table-row;
	position:relative;
	height: 170px;
	width: 840px;
	background-color:#6997d3;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #dcdcdc;
}
#viewport {
	position: relative;
	margin:10px;
}

.canvasHolder {
	
	display:block;
	position:relative;
	height: 620px;
	width: 840px;
 
	background-color:#6997d3;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #dcdcdc;
}
.playerStatusHolder {
	position:relative;
	float: left;
	height: 130px;
	width: 380px;

    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
	background-color:#6997d3;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #dcdcdc;


	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}
.xpStatusHolder {
	position:relative;
	float: right;
	height: 130px;
	width: 380px;

    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
	background-color:#6997d3;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #dcdcdc;

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5); 
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}
.xpHolder {
	display: inline;
	border:1px solid #dcdcdc;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:"Inconsolata", "Georgia";
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.button:active {
	position:relative;
	top:1px;
}
.experiment
{
	background-color:#b3f36d;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #000000;
}
.xpholderrunning
{
	
	background-color:#6997d3;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #dcdcdc;
}
.xpholdernotrunning
{
	
	background-color:#ff7373;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #dcdcdc;
}
.xpholdercreate
{
	
	background-color:#ffe140;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border:1px solid #dcdcdc;
}


.btn {
  background: #d9344f;
  
  background-image: -webkit-linear-gradient(top, #d9344f, #c21818);
  background-image: -moz-linear-gradient(top, #d9344f, #c21818);
  background-image: -ms-linear-gradient(top, #d9344f, #c21818);
  background-image: -o-linear-gradient(top, #d9344f, #c21818);
  background-image: linear-gradient(to bottom, #d9344f, #c21818);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Inconsolata", "Georgia";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
}

.btn:hover {
  background: #eb9999;
  background-image: -webkit-linear-gradient(top, #eb9999, #d6809d);
  background-image: -moz-linear-gradient(top, #eb9999, #d6809d);
  background-image: -ms-linear-gradient(top, #eb9999, #d6809d);
  background-image: -o-linear-gradient(top, #eb9999, #d6809d);
  background-image: linear-gradient(to bottom, #eb9999, #d6809d);
  text-decoration: none;
}

.hide {
	display: none;
}
